# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\tomas\skola\4r\nastroj-pre-analyzu-kryptomarketu-a-automaticke-vyhodnocovanie-strategii\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/modules.xml
/nastroj-pre-analyzu-kryptomarketu-a-automaticke-vyhodnocovanie-strategii.iml
/vcs.xml
/inspectionProfiles