<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://uni-canteen.postgres.database.azure.com:5432/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="sk.tuke.unicanteen.model.AllOrdersEntity"/>
        <mapping class="sk.tuke.unicanteen.model.CanteenEntity"/>
        <mapping class="sk.tuke.unicanteen.model.CanteenMenuEntity"/>
        <mapping class="sk.tuke.unicanteen.model.CategoryEntity"/>
        <mapping class="sk.tuke.unicanteen.model.FoodEntity"/>
        <mapping class="sk.tuke.unicanteen.model.MenuEntity"/>
        <mapping class="sk.tuke.unicanteen.model.SchoolEntity"/>
        <mapping class="sk.tuke.unicanteen.model.UserObjectEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>